$color-principal:black;
$color-secundario:white;
$color-terciario:#73A2BF;


$font-sz: (
    "size1": 15px,
     "size2": 18px, 
     "size3": 20px,
     "size4": 24px, 
     "size5": 30px,
     "size6": 40px, 
     "size7": 70px);
