@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   /* border: red solid 1px;   */
}

/*---HEADER----*/
#navegador{
    background-color: black;
}
.titulo{
    color: white;
    padding-left: 10px;
}
#items{
    color: white;
    border: 10px;
}
.nav-item{
    margin: 5px;
    border-radius: 10px;
}
.imagen{
    width: 100px;
    height: 100px;
}
.logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#hamburguesa{
    background-color: white;
}
/*----CARRUSEL-----*/

#imagenterrarios{
    height: 600px;
}


/*----ANIMACIONES BOTONES-----*/



ul{
    width: max-content;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    height: auto;
    text-align: center;

}

li{
    padding: 10px;
    margin: 10px;
    background-color: black;
    transition: all 0.4s ease;

   
}


li:hover{
    background-color: gray;
    transform: translatey(3px);
    transition: all 0.4s ease;
}



main{
    display: flex;
   flex-direction: column;
   align-items: center;

    background-image: linear-gradient(to right, rgb(142, 142, 255), rgb(184, 184, 184));
}



.productos{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgsproductos{
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    border: solid black 3px;

   

}

.imgsproductos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  
}

.producto{
  
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(233 138 138);
    border: solid black 3px;
    margin: 15px;
    box-shadow: 10px 10px 50px 10px rgba(245, 246, 248, 0.65);
    -webkit-box-shadow: 10px 10px 50px 10px rgba(232, 234, 241, 0.65);
      
   }

   .producto:hover{
    transform: translatey(5px);
    transform: translatex(5px);
    transition: all 0.4s ease;
   }

.producto h4{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
}
.producto p{
    width: 300px;
   
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
   
}
.piedepagina{
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    font-size: 20px;
}
.piedepaginaizq{
    display: flex;
    justify-content: center;
    
}

.formulario{
    font-family: 'Courier New', Courier, monospace; ;

}




@media screen and (min-width:650px) {
    
    main{
        display: flex;
      flex-direction: row;
      align-items: flex-start;
        background-color: lightblue;
    }
    ul{
       
        text-align:left;
    
    }

    .titulo h1{
       
        font-size: 70px;}

        .encabezado{
            display: flex;
            align-items: stretch;
           flex-direction: row;
           
           
              
        }    
        
         

    
}


@media screen and (max-width:500px) {
    
   

    .titulo h1{
       text-align: center;
        font-size: 70px;}



    
}
